 /* .chart-container {
  width: 55%;
  height: 55%;
  margin: auto;
   padding: 20px; 
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}  */

/* .bus-info {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  text-align: center;
} */
