/* forgotpassword.css */

.forgot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0D0D0D;
}

.forgot-container {
  width: 350px;
  background: black;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 138, 0, 0.8);
  text-align: center;
}

.forgot-logo {
  background-image: url('./logo.png'); /* Update with your logo path */
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.forgot-title {
  color: #FF8A00;
  margin-bottom: 20px;
}

.forgot-container h2 {
  color: white;
  margin-bottom: 20px;
}

.forgot-container select,
.forgot-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #FF8A00;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.forgot-container button {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 25px;
  background-color: #FF8A00;
  color: white;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 138, 0, 0.8);
  transition: 0.3s;
}

.forgot-container button:hover {
  background-color: #e57c00;
}
